<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <p><span class="form-label fw-bold">Email : </span> {{ user()?.email }}</p>
    </div>
    <div class="col-auto">
      <p><span class="form-label fw-bold">Username : </span> {{ user()?.username }}</p>
    </div>
    <div class="row">
      <div class="col-auto">
        <p><span class="form-label fw-bold">Firstname : </span> {{ user()?.firstName }}</p>
      </div>
      <div class="col-auto">
        <p><span class="form-label fw-bold">LastName : </span> {{ user()?.lastName }}</p>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <span class="form-label fw-bold">Role(s) :</span>
    @let roles = user()?.roles;
    @if (roles?.length === 0) {
      <p>No roles attributed to this user</p>
    } @else {
      <ol class="list-group list-group-numbered">
        @for (role of roles; track role.id) {
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <p class="fw-bold">{{ role?.name }}</p>
              <span class="form-label fw-bold">Privilege(s) :</span>
              @let privileges = role?.privileges;
              @if (privileges?.length === 0) {
                <p>No privileges attributed to this role</p>
              } @else {
                <p>{{ rolePrivileges()[role.id] }}</p>
              }
            </div>
          </li>
        }
      </ol>
    }
  </div>
</div>
