<ul class="navbar-nav h4">
  <li *ngIf="user" class="dropdown">
    <a [id]="navbarDropdownId" aria-expanded="false" aria-haspopup="true" class="nav-link "
       data-bs-toggle="dropdown"
       role="button">
      {{ user.username }}
    </a>
    <ul [attr.aria-labelledby]="navbarDropdownId" class="dropdown-menu">
      <li>
        <a class="dropdown-item" routerLink="/user" routerLinkActive="active">User Profile</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/user" routerLinkActive="active">Account settings</a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <div class="dropdown-item ">
          <p class="m-0"> Account : {{ user.firstName }} {{ user.lastName }} </p>
        </div>
      </li>
      <li *ngIf="user?.roles">
        <hr class="dropdown-divider">
        <p class="dropdown-item m-0 disabled"> Role : </p>
      </li>
      <li *ngFor="let role of user?.roles">
        <p class="dropdown-item m-0 disabled"> {{ role.name }}</p>
      </li>
    </ul>
  </li>
</ul>
