<ul class="navbar-nav h4">
  <li *ngIf="user" class="nav-item dropdown">
    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
       id="navbarDropdown"
       role="button">
      {{ user.username }}
    </a>
    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
      <li>
        <a class="dropdown-item" routerLink="/user">User Profile</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">User Account</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Account settings</a>
        <hr class="dropdown-divider">
      </li>
      <li>
        <div class="dropdown-item ">
          <p class="m-0"> Account : {{ user.firstName }} {{ user.lastName }} </p>
        </div>
      </li>
      <li *ngIf="user?.roles">
        <hr class="dropdown-divider">
        <p class="dropdown-item m-0 disabled"> Role : </p>
      </li>
      <li *ngFor="let role of user?.roles">
        <p class="dropdown-item m-0 disabled"> {{ role.name }}</p>
      </li>
    </ul>
  </li>
</ul>
