<div>
  <app-collapse-block #collapseBlock
                      [actionType]="action()"
                      [collapseId]="targetSetFormCollapseId"
                      [contentTemplate]="performanceCollapseTemplate"
  />
  <ng-template #performanceCollapseTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
    <h5 *ngIf="blocTitle" class="fw-bold"> {{ blocTitle() }} </h5>
    <app-performance-logs *ngIf="action() === ActionType.checkPerformance"
                          [progExerciseInput]="progExercise()"
                          [targetSetInput]="targetSetLog()"
                          [useRelativeInformationOnly]="true"
    />
    <app-target-set-entity-form *ngIf="action() === ActionType.update"
                                [actionType]="action()"
                                [btnCloseRef]="btnClose"
                                [progExercise]="progExercise()"
                                [submitEventActionType$]="submitEventActionType$"
                                [targetSet]="targetSetLog()"/>
    <app-target-set-delete-form *ngIf="action() === ActionType.delete"
                                [btnCloseRef]="btnClose"
                                [progExercise]="progExercise()"
                                [submitEventActionType$]="submitEventActionType$"
                                [targetSet]="targetSetLog()"/>

  </ng-template>
  <div *ngIf="targetSetLogs().length !== 0" class="container px-4 overflow-auto"
       style="max-height: calc(100vh - 40vh)">
    <app-target-set-logs-card (actionTargetSets)="setTargetSet($event)"
                              *ngFor="let set of targetSetLogs()"
                              [collapseBlockComponent]="collapseBlock"
                              [formCollapseId]="targetSetFormCollapseId"
                              [targetSet]="set"

    />
  </div>
  <div *ngIf="targetSetLogs().length === 0">
    <div class="col-auto card m-3 shadow">
      <div class="card-body ">
        <div class="row">
          <div class="col-auto">
            No old set save
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
