<div>
  <app-collapse-block #collapseBlock
                      [actionType]="action()"
                      [collapseId]="targetSetFormCollapseId"
                      [contentTemplate]="performanceCollapseTemplate"/>
  <ng-template #performanceCollapseTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
    @if (blocTitle()) {
      <h5 class="fw-bold"> {{ blocTitle() }} </h5>
    }
    @switch (action()) {
      @case (ActionType.checkPerformance) {
        <app-performance-logs [progExercise]="progExercise()" [targetSet]="targetSetLog()"
                              [useRelativeInformationOnly]="true"/>
      }
      @case (ActionType.update) {
        <app-target-set-entity-form [actionType]="action()" [btnCloseRef]="btnClose" [progExercise]="progExercise()"
                                    [submitEventActionType$]="submitEventActionType$" [targetSet]="targetSetLog()"/>
      }
      @case (ActionType.delete) {
        <app-target-set-delete-form [btnCloseRef]="btnClose" [progExercise]="progExercise()"
                                    [submitEventActionType$]="submitEventActionType$" [targetSet]="targetSetLog()"/>
      }
    }
  </ng-template>
  @if (targetSetLogs().length !== 0) {
    <div class="container px-4 overflow-auto" style="max-height: calc(100vh - 40vh)">
      @for (set of targetSetLogs(); track set.id) {
        <app-target-set-logs-card (actionTargetSets)="setTargetSet($event)" [collapseBlockComponent]="collapseBlock"
                                  [formCollapseId]="targetSetFormCollapseId" [targetSet]="set"/>
      }
    </div>
  } @else {
    <div>
      <div class="col-auto card m-3 shadow">
        <div class="card-body ">
          <div class="row">
            <div class="col-auto">
              No old set save
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
