<div class="container p-4">
  <app-loading [loading]="loading"/>
  <div *ngFor="let alert of alerts">
    <app-alert (removedAlert)="removeAlert($event)" [alert]="alert"/>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Muscles saved in databases</h2>
      </div>
      <div class="col-2">
        <app-modal [modalId]="muscleModalId" title="New muscle :">
          <app-muscle-form
            (errorOccurred)="setAlertError($event)"
            (newMuscleAdded)="setAlertSuccess($event)"
            [modalRef]="muscleModalRef"
          />
        </app-modal>
      </div>
    </div>
    <app-muscles-array [muscles]="muscles"/>
  </div>
</div>
