<div class="container p-4">
  <div *ngIf="error">
    <p>Error : {{ error }}</p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Muscles saved in databases</h2>
      </div>
      <div class="col-2">
        <app-button [id]="modalId">
          Add new <i class="fa-regular fa-square-plus"></i>
        </app-button>
        <app-modal [id]="modalId" title="New muscle :" validateNameButton="Create">
          <app-muscle-form/>
        </app-modal>
      </div>
    </div>
    <app-muscles-array [muscles]="muscles"/>
  </div>
</div>
