<div class="container-fluid">
  <div class="mb-3">
    <label class="form-label fw-bold">Description :</label>
    <p>{{ exercise?.description }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label fw-bold">Goal :</label>
    <p>{{ exercise?.goal }}</p>
  </div>
  <div class="mb-3 ">
    <label class="form-label fw-bold">Muscle(s) :</label>
    <p *ngIf="exercise?.muscles?.length === 0">No muscle is used this exercise</p>
    <ol *ngIf="exercise?.muscles?.length !== 0"
        class="list-group list-group-numbered"
    >
      <li *ngFor="let exercise of exercise?.muscles"
          class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <h4 class="fw-bold">{{ exercise?.name }}</h4>
          <label class="form-label fw-bold">Description :</label>
          <p>{{ exercise?.description }}</p>
          <label class="form-label fw-bold">Function :</label>
          <p>{{ exercise?.function }}</p>
        </div>
      </li>
    </ol>
  </div>
  <div class="mb-3">
    <label class="form-label fw-bold">ExerciseType(s) :</label>
    <p *ngIf="exercise?.exerciseTypes?.length === 0">This exercise has no type set</p>
    <ol *ngIf="exercise?.exerciseTypes?.length !== 0"
        class="list-group list-group-numbered "

    >
      <li *ngFor="let exercise of exercise?.exerciseTypes"
          class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <h4 class="fw-bold">{{ exercise?.name }}</h4>
          <label class="form-label fw-bold">Goal :</label>
          <p>{{ exercise?.goal }}</p>
        </div>
      </li>
    </ol>
  </div>
</div>
