<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="progExerciseModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-my-prog-exercise-performance *ngIf="action() === ActionType.checkPerformance"
                                    [progExercise]="progExercise()"
  />
  <app-my-prog-exercise-entity-form *ngIf="action() === ActionType.update"
                                    [btnCloseRef]="btnClose"
                                    [progExercise]="progExercise()"
                                    [submitEventActionType$]="submitEventActionType$"
  />
  <app-my-prog-exercise-delete-form *ngIf="action() === ActionType.delete"
                                    [btnCloseRef]="btnClose"
                                    [progExercise]="progExercise()"
                                    [submitEventActionType$]="submitEventActionType$"/>
</ng-template>
