<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="progExerciseModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @switch (action()) {
    @case (ActionType.checkPerformance) {
      <app-my-prog-exercise-performance [progExercise]="progExercise()"/>
    }
    @case (ActionType.update) {
      <app-my-prog-exercise-entity-form [btnCloseRef]="btnClose" [progExercise]="progExercise()"
                                        [submitEventActionType$]="submitEventActionType$"/>
    }
    @case (ActionType.delete) {
      <app-my-prog-exercise-delete-form [btnCloseRef]="btnClose" [progExercise]="progExercise()"
                                        [submitEventActionType$]="submitEventActionType$"/>
    }
  }
</ng-template>
