<div *ngIf="performanceLogsSortByDate">
  <div *ngFor="let perfLogsOfDate of performanceLogsSortByDate">
    <div *ngFor="let perfLog of perfLogsOfDate.value">
      <app-performance-logs-card (actionPerformanceLog)="setPerformanceLog($event)"
                                 [modalId]="modalId"
                                 [performanceLog]="perfLog"/>
    </div>
  </div>
  <div *ngIf="Object.keys(performanceLogsSortByDate).length === 0">
    <div class="col-auto card m-3 shadow">
      <div class="card-body ">
        <div class="row">
          <div class="col-auto">
            No performanceLogs saved
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
