<app-modal [actionType]="action()"
           [contentTemplate]="performanceLogModalTemplate"
           [modalId]="performanceLogModalId()"
           [title]="performanceLogModalTitle()"
>
</app-modal>
<ng-template #performanceLogModalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-performance-log-entity-form *ngIf="action() === ActionType.create"
                                   [btnCloseRef]="btnClose"
                                   [performanceLog]="performanceLog()"
                                   [submitEventActionType$]="submitEventActionType$"
                                   [targetSet]="targetSet()"/>
  <app-performance-logs *ngIf="action() === ActionType.checkPerformance"
                        [progExercise]="progExercise()"
                        [targetSet]="targetSet()"
                        [useRelativeInformationOnly]="true"/>
</ng-template>
