<app-modal [actionType]="action"
           [contentTemplate]="performanceLogModalTemplate"
           [modalId]="performanceLogModalId"
           [title]="performanceLogModalTitle"
>
</app-modal>
<ng-template #performanceLogModalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-performance-log-entity-form *ngIf="action === ActionType.create ||
                                          action === ActionType.update"
                                   [btnCloseRef]="btnClose"
                                   [performanceLogInput]="performanceLog"
                                   [submitEventActionType$]="submitEventActionType$"
                                   [targetSetInput]="targetSet"/>
  <app-performance-log-delete-form *ngIf="action === ActionType.delete"
                                   [btnCloseRef]="btnClose"
                                   [performanceLogInput]="performanceLog"
                                   [submitEventActionType$]="submitEventActionType$"/>
  <app-performance-logs *ngIf="action === ActionType.checkPerformance"
                        [modalId]="performanceLogModalId"
                        [progExercise]="progExercise"
                        [targetSet]="targetSet"/>
</ng-template>
