<app-modal-button (onCLickModalButton)="onClick()"
                  [modalId]="progExerciseModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="progExerciseModalTemplate"
           [modalId]="progExerciseModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #progExerciseModalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @switch (action()) {
    @case (ActionType.create) {
      <app-my-prog-exercise-entity-form [btnCloseRef]="btnClose" [progExercise]="progExercise()"
                                        [submitEventActionType$]="submitEventActionType$"/>
    }
    @case (ActionType.read) {
      <app-my-prog-exercise-details-display [progExercise]="progExercise()"/>
    }
    @case (ActionType.checkPerformance) {
      <app-my-prog-exercise-performance [progExercise]="progExercise()"/>
    }
  }

</ng-template>
