<app-modal-button (onCLickModalButton)="onClick($event)"
                  [modalId]="muscleModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="progExerciseModalTemplate"
           [modalId]="muscleModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #progExerciseModalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-my-prog-exercise-entity-form *ngIf="action() === ActionType.create"
                                    [btnCloseRef]="btnClose"
                                    [progExercise]="progExercise()"
                                    [submitEventActionType$]="submitEventActionType$"/>
  <app-my-prog-exercise-details-display *ngIf="action() === ActionType.read"
                                        [progExercise]="progExercise()"/>
  @let localProgExercise = progExercise();
  <app-my-prog-exercise-performance *ngIf="action() === ActionType.checkPerformance && localProgExercise"
                                    [progExercise]="localProgExercise"/>
</ng-template>
