<form *ngIf="durationForm" [formGroup]="durationForm()" class="container-fluid">
  <div class="col">
    <div class="row">
      <div class="input-group mb-2">
        <input class="form-control" formControlName="hours" type="text">
        <div class="input-group-text">H</div>
        <input class="form-control" formControlName="minutes" type="text">
        <div class="input-group-text">Min</div>
        <input class="form-control" formControlName="seconds" type="text">
        <div class="input-group-text">s</div>
      </div>
    </div>
    <div class="row">
      <app-input-control
        [formGroup]="durationForm()"
        [ifInvalid]="true"
        [onlyErrorMessage]="true"
        errorMessage="Please write a correct number of hours"
        formGroupFieldName="hours"
        rules="only integer number ; min : 0 ; max : 23"
      />
      <app-input-control
        [formGroup]="durationForm()"
        [ifInvalid]="true"
        [onlyErrorMessage]="true"
        errorMessage="Please write a correct number of minutes"
        formGroupFieldName="minutes"
        rules="only integer number ; min : 0 ; max : 59"
      />
      <app-input-control
        [formGroup]="durationForm()"
        [ifInvalid]="true"
        [onlyErrorMessage]="true"
        errorMessage="Please write a correct number of seconds"
        formGroupFieldName="seconds"
        rules="only integer number ; min : 0 ; max : 59"
      />
    </div>
  </div>
</form>
