<div class="container">
  <app-loading [loading]="loading"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>ExerciseType saved in database</h2>
      </div>
      <div class="col-2">
        <app-exercise-type-modal [action]="action"
                                 [exerciseTypeModalId]="exerciseTypeModalId"
                                 [exerciseType]="exerciseType"
                                 [modalTitle]="modalTitle"
        />
      </div>
    </div>
    <app-exercise-type-array (actionExerciseType)="setExerciseType($event)"
                             [exerciseTypes]="exerciseTypes"
                             [modalId]="exerciseTypeModalId"/>
  </div>
</div>
