<div class="container p-4">
  <app-loading [loading]="loading"/>
  <div class="container-fluid">
    <app-alert-display/>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>ExerciseType saved in databases</h2>
      </div>
      <div class="col-2">

      </div>
    </div>
    <app-exercise-type-array (actionExerciseType)="setExerciseType($event)"
                             [exerciseTypes]="exerciseTypes"
                             [modalId]="exerciseTypeModalId"/>
  </div>
</div>
