<div [attr.data-bs-backdrop]="staticBackdrop ? 'static' : null"
     [id]="modalId"
     aria-hidden="true"
     class="modal fade"
     tabindex="-1"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="fw-bold">{{ title }}</h4>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <ng-container [ngTemplateOutletContext]="{eventsSubject: eventsSubject, btnClose:btnClose}"
                    [ngTemplateOutlet]=" contentTemplate || defaultModalNgTemplate">
      </ng-container>
      <ng-template #defaultModalNgTemplate>
        <div class="modal-body">
          Here is the default ngModalTemplate...
        </div>
      </ng-template>
      <div class="modal-footer">
        <button #btnClose class="btn btn-secondary" data-bs-dismiss="modal" type="button">
          Cancel
        </button>
        <button (click)="onSubmit()" *ngIf="isFormModal" [class]="'btn ' + validateClassButton" type="button">
          {{ validateTitleButton }}
        </button>
      </div>
    </div>
  </div>
</div>

