<form [formGroup]="privilegeForm()" class="container-fluid">
  <div class="mb-3">
    <span class="form-label">Name :</span>
    <input class="form-control" formControlName="name" type="text">
    <app-input-control
      [formGroup]="privilegeForm()"
      [submitInvalid]="submitInvalidForm()"
      formGroupFieldName="name"
      rules="min : 3 ; max : 50"
    />
  </div>
  <div class="mb-3">
    <span class="form-label">Privilege(s) :</span>
    <app-roles-selector formControlName="roleIds"/>
    <app-input-control
      [formGroup]="privilegeForm()"
      [submitInvalid]="submitInvalidForm()"
      errorMessage="Please select a role who must have this privilege"
      formGroupFieldName="roleIds"
      rules="min : 1"
    />
  </div>
</form>

