<app-tab-header [tabId]="tabId"
                [tabOptions]="tabOptions"
                type="pill"
/>
<div [id]="tabId" class="tab-content border border-top-0 rounded-bottom border-1">
  <app-collapse-block #collapseBlock
                      [actionType]="action"
                      [collapseId]="performanceLogFormCollapseId"
                      [contentTemplate]="performanceCollapseTemplate"
  />
  <ng-template #performanceCollapseTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
    <h5 *ngIf="performanceLogDate" class="fw-bold"> {{ "Performance from " + performanceLogDate }} </h5>
    <app-performance-log-entity-form *ngIf="action === ActionType.update"
                                     [btnCloseRef]="btnClose"
                                     [performanceLogInput]="performanceLog"
                                     [submitEventActionType$]="submitEventActionType$"
                                     [targetSetInput]="targetSet"/>
    <app-performance-log-delete-form *ngIf="action === ActionType.delete"
                                     [btnCloseRef]="btnClose"
                                     [performanceLogInput]="performanceLog"
                                     [submitEventActionType$]="submitEventActionType$"/>
  </ng-template>
  <div [id]="tabOptions[0].id" class="tab-pane fade show active">
    <div class="container overflow-auto p-3" style="height: calc(100vh - 50vh)">
      <div class="container p-2">
        <app-check-box (actionPerformanceLog)="onCheckBoxClick()"
                       [checkedInput]="switch"
                       labelCheck="sort by date"
                       labelUnchecked="sort by set"
        />
      </div>
      <app-performance-log-sorted-by-log-date (actionPerformanceLog)="setPerformanceLog($event)"
                                              [accordionParentIdDate]="accordionParentIdDate"
                                              [collapseBlock]="collapseBlock"
                                              [formCollapseId]="performanceLogFormCollapseId"
                                              [hidden]="!switch"
                                              [performanceLogsSortByDate]="performanceLogsSortedByLogDate"
      />
      <app-performance-log-sorted-by-set (actionPerformanceLog)="setPerformanceLog($event)"
                                         [accordionParentIdSet]="accordionParentIdSet"
                                         [collapseBlock]="collapseBlock"
                                         [formCollapseId]="performanceLogFormCollapseId"
                                         [hidden]="switch"
                                         [performanceLogsSortedBySet]="performanceLogsSortedBySet"
      />
    </div>
    <div *ngIf="Object.keys(performanceLogsSortedByLogDate).length === 0">
      <div class="col-auto card m-3 shadow">
        <div class="card-body ">
          <div class="row">
            <div class="col-auto">
              No performanceLogs saved
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [id]="tabOptions[1].id" class="tab-pane fade">
    <div *ngIf="performanceLogsSortedByLogDate" class="container overflow-auto p-3" style="height: calc(100vh - 50vh)">
      <app-performance-logs-charts (actionPerformanceLog)="setPerformanceLog($event)"
                                   [collapseBlock]="collapseBlock"
                                   [performanceLogsInputSortedByLogDateInput]="performanceLogsSortedByLogDate"
                                   [performanceLogsInputSortedBySetInput]="performanceLogsSortedBySet"/>
    </div>
    <div *ngIf="Object.keys(performanceLogsSortedByLogDate).length === 0">
      <div class="col-auto card m-3 shadow">
        <div class="card-body ">
          <div class="row">
            <div class="col-auto">
              No performanceLogs saved
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
