<div class="container-fluid">
  <div class="mb-3">
    <label class="form-label fw-bold">Name :</label>
    <p>{{ muscle?.name }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label fw-bold">Description :</label>
    <p>{{ muscle?.description }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label fw-bold">Function :</label>
    <p>{{ muscle?.function }}</p>
  </div>
  <div class="mb-3">
    <label class="form-label fw-bold">Exercises :</label>
    <p *ngIf="muscle?.exercises?.length === 0">No exercise uses this muscle</p>
    <ol *ngIf="muscle?.exercises?.length !== 0"
        class="list-group list-group-numbered"
    >
      <li *ngFor="let exercise of muscle?.exercises"
          class="list-group-item d-flex justify-content-between align-items-start"
      >
        <div class="ms-2 me-auto">
          <h4 class="fw-bold">{{ exercise?.name }}</h4>
          <label class="form-label fw-bold">Description :</label>
          <p>{{ exercise?.description }}</p>
          <label class="form-label fw-bold">Goal :</label>
          <p>{{ exercise?.goal }}</p>
        </div>
      </li>
    </ol>
  </div>
</div>
