<div class="container">
  <app-loading [isLoading]="loading()"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2> {{ progExercise()?.name }} </h2>
      </div>
      <div class="col-auto">
        <app-my-prog-exercise-details-modal [action]="progExerciseAction()"
                                            [modalTitle]="progExerciseModalTitle()"
                                            [progExerciseModalId]="progExerciseModalId"
                                            [progExercise]="progExercise()"
        />
      </div>
    </div>
    <div class="row">
      @let localProgExercise = progExercise();
      @if (localProgExercise) {
        <app-prog-exercise-card-details (actionProgExercises)="setProgExercise($event)" [modalId]="progExerciseModalId"
                                        [progExercise]="localProgExercise"/>
      }
    </div>
    <div class="row pt-4 pb-1">
      <div class="col">
        <h4> Exercise set's step </h4>
      </div>
      <div class="col-auto">
        <app-target-set-modal (actionTargetSet)="setTargetSet($event)"
                              [action]="targetSetAction()"
                              [performanceLog]="performanceLog()"
                              [progExercise]="progExercise()"
                              [targetSetModalId]="targetSetModalId"
                              [targetSetModalTitle]="targetSetModalTitle()"
                              [targetSet]="targetSet()"/>
        <app-performance-log-modal [action]="performanceLogAction()"
                                   [performanceLogModalId]="performanceLogModalId"
                                   [performanceLogModalTitle]="performanceLogModalTitle()"
                                   [performanceLog]="performanceLog()"
                                   [progExercise]="progExercise()"
                                   [targetSet]="targetSet()"/>
      </div>
    </div>
    <div class="row">
      <app-target-sets (actionPerformanceLogs)="setPerformanceLog($event)"
                       (actionTargetSets)="setTargetSet($event)"
                       [performanceLogModalId]="performanceLogModalId"
                       [progExercise]="progExercise()"
                       [targetSetModalId]="targetSetModalId"/>
    </div>
  </div>
</div>
