<div class="col-auto card m-3 shadow">
  <div class="card-body ">
    <div class="row">
      <div class="col-auto">
        <h5 class="fw-bold">
          {{ "Set from " + targetSetCreationDate.toLocaleDateString() }}
        </h5>
        <div class="row">
          <div class="col-auto d-flex">
            <label class="fw-bold me-1"> Set : </label>
            {{ targetSet.setNumber }}
          </div>
          <div class="col-auto d-flex">
            <label class="fw-bold me-1"> Reps : </label>
            {{ targetSet.repetitionNumber }}
          </div>
          <div class="col-auto d-flex">
            <label class="fw-bold me-1"> Weight : </label>
            {{ targetSet.weight + " " + targetSet.weightUnit }}
          </div>
          <div class="col-auto d-flex">
            <label class="fw-bold me-1"> Created : </label>
            {{ targetSetCreationDate.toLocaleDateString() }}
          </div>
          <div class="col-auto d-flex">
            <label class="fw-bold me-1"> State : </label>
            {{ targetSet.state }}
          </div>
        </div>
        <div class="row align-content-center pt-1">
          <app-modal-button
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-secondary"
          >
            Check performances NOT WORKING

            <i class="fa-solid fa-chart-line"></i>
          </app-modal-button>
        </div>
      </div>
      <div class="col align-content-center">
        <div class="row">
          <label class="col-auto fw-bold me-1 "> One Rep : </label>
          {{ targetSetRepetition }}
        </div>
        <div class="row">
          <label class="col-auto fw-bold me-1"> Rest : </label>
          {{ targetSetRestTime }}
        </div>
        <div class="row">
          <label class="col-auto fw-bold me-1"> Total : </label>
          {{ targetSetTime }}
        </div>
      </div>
      <div class="col text-center align-content-center">
        <div class="row py-1">
          <app-modal-button
            (onCLickModalButton)="modifyTargetSet($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-secondary"
          >
            Modify
            <i class="fa-solid fa-pen-to-square"></i>
          </app-modal-button>
        </div>
        <div class="row py-1">
          <app-modal-button
            (onCLickModalButton)="delTargetSet($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-danger"
          >
            Delete
            <i class="fa-solid fa-trash"></i>
          </app-modal-button>
        </div>
      </div>
    </div>
  </div>
</div>
