<div class="col-auto card my-3 shadow">
  <div class="card-body ">
    <div class="row">
      <div class="col-auto">
        <h5 class="fw-bold">
          {{ "Set from " + targetSetCreationDate.toLocaleDateString() }}
        </h5>
        <div class="row">
          <div class="col-auto d-flex">
            <span class="fw-bold me-1"> Set : </span>
            {{ targetSet.setNumber }}
          </div>
          <div class="col-auto d-flex">
            <span class="fw-bold me-1"> Reps : </span>
            {{ targetSet.repetitionNumber }}
          </div>
          <div class="col-auto d-flex">
            <span class="fw-bold me-1"> Weight : </span>
            {{ targetSet.weight + " " + targetSet.weightUnit }}
          </div>
          <div class="col-auto d-flex">
            <span class="fw-bold me-1"> Created : </span>
            {{ targetSetCreationDate.toLocaleDateString() }}
          </div>
          <div class="col-auto d-flex">
            <span class="fw-bold me-1"> State : </span>
            {{ targetSet.state }}
          </div>
        </div>
        <div class="row align-content-center pt-1">
          <app-collapse-button
            (onClickEvent)="checkPerformanceLogs($event)"
            [allWidth]="true"
            [collapseBlockComponent]="collapseBlockComponent"
            [collapseId]="formCollapseId"
            [value]="targetSet"
            btnClass="btn-secondary"
          >
            Check performances

            <i class="fa-solid fa-chart-line"></i>
          </app-collapse-button>
        </div>
      </div>
      <div class="col align-content-center">
        <div class="row">
          <span class="col-auto fw-bold me-1 "> One Rep : </span>
          {{ targetSetRepetition }}
        </div>
        <div class="row">
          <span class="col-auto fw-bold me-1"> Rest : </span>
          {{ targetSetRestTime }}
        </div>
        <div class="row">
          <span class="col-auto fw-bold me-1"> Total : </span>
          {{ targetSetTime }}
        </div>
      </div>
      <div class="col text-center align-content-center">
        <div class="row py-1">
          <app-collapse-button
            (onClickEvent)="modifyTargetSet($event)"
            [allWidth]="true"
            [collapseBlockComponent]="collapseBlockComponent"
            [collapseId]="formCollapseId"
            [value]="targetSet"
            btnClass="btn-secondary"
          >
            Modify
            <i class="fa-solid fa-pen-to-square"></i>
          </app-collapse-button>
        </div>
        <div class="row py-1">
          <app-collapse-button
            (onClickEvent)="delTargetSet($event)"
            [allWidth]="true"
            [collapseBlockComponent]="collapseBlockComponent"
            [collapseId]="formCollapseId"
            [value]="targetSet"
            btnClass="btn-danger"
          >
            Delete
            <i class="fa-solid fa-trash"></i>
          </app-collapse-button>
        </div>
      </div>
    </div>
  </div>
</div>
