<div class="col-auto card m-3 shadow">
  <div class="card-body ">
    <div class="row">
      <div class="col-auto">
        <h5 class="fw-bold">
          {{ "Set from " + targetSetCreationDate.toLocaleDateString() }}
        </h5>
        <div class="row">
          <div class="col-auto">
            <label class="fw-bold"> Set : </label>
            {{ targetSet.setNumber }}
          </div>
          <div class="col-auto">
            <label class="fw-bold"> Reps : </label>
            {{ targetSet.repetitionNumber }}
          </div>
          <div class="col-auto">
            <label class="fw-bold"> Weight : </label>
            {{ targetSet.weight + " " + targetSet.weightUnit }}
          </div>
          <div class="col-auto">
            <label class="fw-bold"> Created : </label>
            {{ targetSetCreationDate.toLocaleDateString() }}
          </div>
          <div class="col-auto">
            <label class="fw-bold"> State : </label>
            {{ targetSet.state }}
          </div>
        </div>
        <div class="row pt-2">
          <div class="col p-1">
            <app-modal-button
              [modalId]="modalId"
              [modalValue]="targetSet"
              btnClass="btn-secondary"
              class="ps-1"
            >
              Check performances
              <i class="fa-solid fa-chart-line"></i>
            </app-modal-button>
          </div>
        </div>
      </div>
      <div class="col align-content-center">
        <div class="row">
          <div class="col-auto mx-auto">
            <div class="col-auto p-2">
              <label class="fw-bold"> One Rep Time : </label>
              {{ targetSetRepetition }}
            </div>
            <div class="col-auto p-2">
              <label class="fw-bold"> Rest Time : </label>
              {{ targetSetRestTime }}
            </div>
            <div class="col-auto p-2">
              <label class="fw-bold"> Total Time : </label>
              {{ targetSetTime }}
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center align-content-center">
        <div class="row p-1">
          <app-modal-button
            (onCLickModalButton)="modifyTargetSet($event)"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-secondary"
          >
            Modify
            <i class="fa-solid fa-pen-to-square"></i>
          </app-modal-button>
        </div>
        <div class="row p-1">
          <app-modal-button
            (onCLickModalButton)="delTargetSet($event)"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-danger"
          >
            Delete
            <i class="fa-solid fa-trash"></i>
          </app-modal-button>
        </div>
      </div>
    </div>
  </div>
</div>
