<ul class="navbar-nav h4">
  <li class="nav-item my-auto">
    <a
      class="nav-link"
      routerLink="/exercises"
      routerLinkActive="active"
    >
      Exercises
    </a>
  </li>
  <li class="nav-item my-auto">
    <a
      class="nav-link"
      routerLink="/exercise-types"
      routerLinkActive="active"
    >
      Exercise Types
    </a>
  </li>
  <li class="nav-item my-auto">
    <a
      class="nav-link"
      routerLink="/muscles"
      routerLinkActive="active"
    >
      Muscles
    </a>
  </li>
</ul>
