<ul class="navbar-nav mx-auto h4">
  <li class="nav-item">
    <a
      class="nav-link py-auto"
      routerLink="/exercises"
      routerLinkActive="active"
    >
      Exercises
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link py-auto"
      routerLink="/exercise-types"
      routerLinkActive="active"
    >
      Exercise Types
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link py-auto"
      routerLink="/muscles"
      routerLinkActive="active"
    >
      Muscles
    </a>
  </li>

</ul>
