<div class="col-auto card m-2 shadow">
  <div class="card-body py-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="row">
            <div class="col-auto">
              <span class="fw-bold me-1"> Performed : </span>
              {{ performanceLog().logDate | date: 'dd/MM/yyyy' }}
            </div>
            <div class="col-auto">
              <span class="fw-bold me-1"> Set N°: </span>
              {{ performanceLog().setIndex }}
            </div>
            <div class="col-auto">
              <span class="fw-bold"> Reps : </span>
              {{ performanceLog().repetitionNumber }}
            </div>
            <div class="col">
              <span class="fw-bold"> Weight : </span>
              {{ performanceLog().weight + " " + performanceLog().weightUnit }}
            </div>
          </div>
        </div>
        <div *ngIf="activeButton()" class="col">
          <div class="row justify-content-center">
            <div class="col-auto d-flex justify-content-center py-1">
              <app-collapse-button
                (onClickEvent)="modPerformanceLog($event)"
                [collapseBlockComponent]="collapseBlockComponent()"
                [collapseId]="formCollapseId()"
                [value]="performanceLog()"
                btnClass="btn-secondary"
              >
                Modify
                <i class="fa-solid fa-pen-to-square"></i>
              </app-collapse-button>
            </div>
            <div class="col-auto d-flex justify-content-center py-1">
              <app-collapse-button
                (onClickEvent)="delPerformanceLog($event)"
                [collapseBlockComponent]="collapseBlockComponent()"
                [collapseId]="formCollapseId()"
                [value]="performanceLog()"
                btnClass="btn-danger"
              >
                Delete
                <i class="fa-solid fa-trash"></i>
              </app-collapse-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
