<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">{{ progExercise.name }}</h5>
    <div class="row">
      <div class="col">
        {{ progExercise.note }}
      </div>
      <div class="col-auto">
        {{ progExercise.exercise.name }}
      </div>
      <div class="col-auto">
        {{ progExercise.trustLabel }}
      </div>
      <div class="col-auto">
        {{ progExercise.visibility }}
      </div>
      <div class="col-auto">
        <div class="row">
          <a class="btn btn-primary" href="#">Button</a>
        </div>
        <div class="row">
          <a class="btn btn-primary" href="#">Button</a>
        </div>
        <div class="row">
          <a class="btn btn-primary" href="#">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
