<div class="card mb-3 shadow-sm my-1 muscle-card">
  <div class="row g-0 flex-column flex-md-row">
    <div class="col-md-8 p-3 d-flex flex-column justify-content-between">
      <h5 class="card-title mb-2">{{ muscle().name }}</h5>
      <div class="multi-line-truncate mb-2">
        <p class="card-text"> {{ muscle().description }} </p>
      </div>
      <div class="row justify-content-center">
        <a class="mt-auto btn btn-outline-dark btn-sm w-50" routerLink="muscleDetail/{{muscle().id}}">
          En savoir plus
        </a>
      </div>
    </div>
    <div class="col-md-4">
      @let image = `assets/muscle/${muscle().latinName.split(' ').join('-')}.png`;
      <img
        [ngSrc]="image"
        alt="{{muscle().latinName.split(' ').join('-')}}"
        class="img-card-thumbnail rounded"
        height="1200"
        width="1200">
    </div>
  </div>
</div>

