<div [id]="accordionParentIdGraph" class="accordion">
  <div *ngFor="let performanceLogsSet of performanceLogsInputSortedBySet, index as i" class="accordion-item">
    <app-collapse-group-item [accordionParentId]="accordionParentIdGraph"
                             [isOpen]="i === 0"
                             [itemId]="performanceLogsSet.key"
                             [stayOpen]="true"
                             [title]='"Set N°" + performanceLogsSet.key'
    >
      <div class="row">
        <div class="col">
          <app-performance-logs-set-chart [performanceLogSet]="performanceLogsSet.value"/>
        </div>
        <div class="col">
          <!--          <app-performance-logs-card (actionPerformanceLog)="setPerformanceLog($event)"-->
          <!--                                     *ngFor="let perfLog of performanceLogsSet.value"-->
          <!--                                     [collapseBlockComponent]="collapseBlock"-->
          <!--                                     [formCollapseId]="formCollapseId"-->
          <!--                                     [performanceLog]="perfLog"/>-->
        </div>
      </div>
    </app-collapse-group-item>
  </div>
</div>
