<div [id]="accordionParentIdGraph" class="accordion">
  <div *ngFor="let performanceLogsSet of performanceLogsInputSortedBySet, index as i" class="accordion-item">
    <h2 class="accordion-header">
      <button [attr.data-bs-target]='"#" + accordionParentIdGraph + performanceLogsSet.key'
              [class]='"accordion-button fw-bold " + ifNotFirstCollapse(i)'
              data-bs-toggle="collapse"
              type="button"
      >
        {{ "Set N°" + performanceLogsSet.key }}
      </button>
    </h2>
    <div [attr.data-bs-parent]='accordionParentIdGraph'
         [class]='"accordion-collapse collapse " + ifFirstShow(i)'
         [id]="accordionParentIdGraph + performanceLogsSet.key"
    >
      <div class="accordion-body p-0 ">
        <div class="container py-1">
          <div class="row row-cols-lg-2 align-items-center">
            <div class="col p-2">
              <app-performance-logs-set-chart [performanceLogSetInput]="performanceLogsSet.value"/>
            </div>
            <div class="col p-2">
              <div class="overflow-auto border-1 border" style="height: calc(100vh - 70vh)">
                <app-performance-logs-card (actionPerformanceLog)="setPerformanceLog($event)"
                                           *ngFor="let perfLog of performanceLogsSet.value"
                                           [activeButton]="true"
                                           [centerContent]="true"
                                           [collapseBlockComponent]="collapseBlock"
                                           [performanceLog]="perfLog"
                                           class=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
