<div [id]="accordionParentIdSet" class="accordion">
  <div *ngFor="let performanceLogsSet of performanceLogsSortedBySet, index as i" class="accordion-item">

    <h2 class="accordion-header">
      <button [attr.data-bs-target]='"#" + accordionParentIdSet + performanceLogsSet.key'
              [class]='"accordion-button fw-bold " + ifNotFirstCollapse(i)'
              data-bs-toggle="collapse"
              type="button"
      >
        {{ "Set N°" + performanceLogsSet.key }}
      </button>
    </h2>
    <div [attr.data-bs-parent]='accordionParentIdSet'
         [class]='"accordion-collapse collapse " + ifFirstShow(i)'
         [id]="accordionParentIdSet + performanceLogsSet.key"
    >
      <div class="accordion-body p-0 ">
        <app-performance-logs-card (actionPerformanceLog)="setPerformanceLog($event)"
                                   *ngFor="let perfLog of performanceLogsSet.value"
                                   [collapseBlockComponent]="collapseBlock"
                                   [formCollapseId]="formCollapseId"
                                   [performanceLog]="perfLog"/>
      </div>
    </div>
  </div>
</div>
