<li class="dropdown">
  <a [id]="navbarDropdownId" aria-expanded="false" aria-haspopup="true" class="nav-link"
     data-bs-toggle="dropdown"
     role="button">
    My Fitness Plan
  </a>
  <ul [attr.aria-labelledby]="navbarDropdownId" class="dropdown-menu">
    <li class="nav-item my-auto">
      <a
        class="nav-link"
        routerLink="/my-fitness-plan/my-plan"
        routerLinkActive="active"
      >
        My plan
      </a>
    </li>
    <li class="nav-item my-auto">
      <a
        class="nav-link"
        routerLink="/my-fitness-plan/my-plan"
        routerLinkActive="active"
      >
        My Programs
      </a>
    </li>
    <li class="nav-item my-auto">
      <a
        class="nav-link"
        routerLink="/my-fitness-plan/my-plan"
        routerLinkActive="active"
      >
        My Sessions
      </a>
    </li>
    <li class="nav-item my-auto">
      <a
        class="nav-link"
        routerLink="/my-fitness-plan/my-programed-exercises"
        routerLinkActive="active"
      >
        My programed exercises
      </a>
    </li>
    <li class="nav-item my-auto">
      <a
        class="nav-link"
        routerLink="/my-fitness-plan/progression"
        routerLinkActive="active"
      >
        My Progression
      </a>
    </li>
  </ul>
</li>
