<div class="small-middle-container">
  <app-tab-header [tabId]="tabId"
                  [tabOptions]="tabOptions"
  />
  <div [id]="tabId" class="tab-content">
    <div [id]="targetSetUsedId" class="tab-pane fade show active">
      <p *ngIf=" progExerciseTargetSets.targetSetUsed.length === 0 ">No target set used</p>
      <div *ngFor="let targetSet of progExerciseTargetSets.targetSetUsed">
        <app-target-set-card (actionPerformanceLogs)="setPerformanceLog($event)"
                             (actionTargetSets)="setTargetSet($event)"
                             [isLastTargetSet]="isLastTargetSetUsed[targetSet.id]"
                             [performanceLogModalId]="performanceLogModalId"
                             [targetSetModalId]="targetSetModalId"
                             [targetSet]="targetSet"
        />
      </div>
    </div>
    <div [id]="targetSetUnusedId" class="tab-pane fade">
      <p *ngIf=" progExerciseTargetSets.targetSetUnused.length === 0 ">No set are unused</p>
      <div *ngFor="let targetSet of progExerciseTargetSets.targetSetUnused">
        <app-target-set-card (actionPerformanceLogs)="setPerformanceLog($event)"
                             (actionTargetSets)="setTargetSet($event)"
                             [isLastTargetSet]="isLastTargetSetUsed[targetSet.id]"
                             [performanceLogModalId]="performanceLogModalId"
                             [targetSetModalId]="targetSetModalId"
                             [targetSet]="targetSet"
        />
      </div>
    </div>
    <div [id]="targetSetHiddenId" class="tab-pane fade">
      <p *ngIf=" progExerciseTargetSets.targetSetHidden.length === 0 ">No set are hidden</p>
      <div *ngFor="let targetSet of progExerciseTargetSets.targetSetHidden">
        <app-target-set-card (actionPerformanceLogs)="setPerformanceLog($event)"
                             (actionTargetSets)="setTargetSet($event)"
                             [isLastTargetSet]="isLastTargetSetUsed[targetSet.id]"
                             [performanceLogModalId]="performanceLogModalId"
                             [targetSetModalId]="targetSetModalId"
                             [targetSet]="targetSet"
        />
      </div>
    </div>
  </div>
</div>
