<div class="card mt-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{ progExercise.name }}</h5>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <span class="fw-bold"> Exercise : </span>
                {{ progExercise.exercise.name }}
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                {{ progExercise.exercise.description }}
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="row">
              <span class="fw-bold"> Set(s) : </span>
            </div>
            <div class="row">
              <p *ngIf="targetSets.length === 0 "> No sets added</p>
              <ul>
                <li *ngFor="let set of targetSets">{{ set }}</li>
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="row">
              <div class="col">
                <span class="fw-bold"> Trust Label : </span>
                {{ progExercise.trustLabel }}
              </div>
            </div>
            <div class="row">
              <div class="col pt-2">
                <span class="fw-bold"> Visibility : </span>
                {{ progExercise.visibility }}
              </div>
            </div>
            <div class="row">
              <div class="col pt-2">
                <span class="fw-bold"> Time : </span>
                {{ exerciseTime }}
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-1">
          <div class="col">
            <span class="fw-bold"> Note : </span>
            {{ progExercise.note }}
          </div>
        </div>
      </div>
      <div class="col-auto align-content-center">
        <div class="row text-center">
          <app-modal-button
            (onCLickModalButton)="showProgExercisePreview($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="progExercise"
            btnClass="btn-secondary"
          >
            Preview
            <i class="fa-solid fa-eye"></i>
          </app-modal-button>
        </div>
        <div class="row pt-1 text-center">
          <app-modal-button
            (onCLickModalButton)="showProgExercisePerformance($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="progExercise"
            btnClass="btn-secondary"
          >
            Performance
            <i class="fa-solid fa-chart-line"></i>
          </app-modal-button>
        </div>
        <div class="row pt-1 ">
          <div class="text-center">
            <button
              class="btn btn-secondary"
              routerLink="/my-fitness-plan/my-programed-exercise/{{progExercise.id}}"
              style="width: 100%"
              type="button"
            >
              Manage
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
