<div class="selected-options">
  <span *ngIf="selectedOptions().length === 0">Select tags</span>
  <span *ngFor="let selectedOption of displayedSelectedOptions()" class="tag">
        {{ selectedOption.title }}
    <i (click)="onCLickRemoveTag($event)"
       [attr.data-value]="selectedOption.id"
       class="fa fa-close remove-tag"></i>
  </span>
  <span *ngIf="selectedOptions().length !== 0" class="remove-all-tag">
    <i (click)="onCLickRemoveAllTag()"
       class="fa fa-close"></i>
  </span>
</div>
