.remove-tag {
  margin-left: 6px;
  cursor: pointer;
}

.tag {
  background-color: #f2f2f2;
  color: #000;
  border-radius: 5px;
  margin: 4px;
  padding: 6px 14px;
  align-items: center;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

.tag:hover {
  background-color: #eaeaea;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 2px;
}
