<div class="selected-options">
  @if (selectedOptions().length === 0) {
    <span>Select tags</span>
  } @else {
    @for (selectedOption of displayedSelectedOptions(); track selectedOption.id) {
      <span class="tag">
        {{ selectedOption.title }}
        <i (click)="onCLickRemoveTag($event)" [attr.data-value]="selectedOption.id" class="fa fa-close remove-tag"></i>
      </span>
    }
    <span class="remove-all-tag">
      <i (click)="onCLickRemoveAllTag()" class="fa fa-close"></i>
    </span>
  }
</div>
