<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Sports Peak</a>
    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-nav-bar-main-menu/>
      <app-nav-bar-admin-menu/>
      <app-nav-bar-language-selector/>
      <div class="navbar-nav h4">
        <app-nav-bar-user-menu/>
        <app-nav-bar-login/>
      </div>
    </div>
  </div>
</nav>
