<nav
  class="navbar bg-dark navbar-expand-lg border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Sports Peak</a>
    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
      <div class="d-flex ms-auto">
        <app-nav-bar-main-menu/>
      </div>
      <div class="d-flex me-auto">
        <app-nav-bar-admin-menu/>
      </div>
      <div class="d-flex">
        <app-nav-bar-language-selector/>
      </div>
      <div class="d-flex">
        <app-nav-bar-user-menu/>
      </div>
      <div class="d-flex">
        <app-nav-bar-login/>
      </div>

    </div>
  </div>
</nav>
