<app-modal-button (onCLickModalButton)="onClick()"
                  [modalId]="roleModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="roleModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-role-entity-form *ngIf="action() === ActionType.create || action() === ActionType.update"
                        [btnCloseRef]="btnClose"
                        [roleInput]="role()"
                        [submitEventActionType$]="submitEventActionType$"
  />
  <app-role-details-display *ngIf="action() === ActionType.read"
                            [role]="role()"/>
  <app-role-delete-form *ngIf="action() === ActionType.delete"
                        [btnCloseRef]="btnClose"
                        [role]="role()"
                        [submitEventActionType$]="submitEventActionType$"/>
</ng-template>
