<app-modal-button (onCLickModalButton)="onClick()"
                  [modalId]="roleModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="roleModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @if (this.action() == ActionType.create || this.action() == ActionType.update) {
    <app-role-entity-form [btnCloseRef]="btnClose" [role]="role()" [submitEventActionType$]="submitEventActionType$"/>
  }
  @if (this.action() == ActionType.read) {
    <app-role-details-display [role]="role()"/>
  }
  @if (this.action() == ActionType.delete) {
    <app-role-delete-form [btnCloseRef]="btnClose" [role]="role()" [submitEventActionType$]="submitEventActionType$"/>
  }
</ng-template>
