<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="progExerciseModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType="submitEventActionType">
  <!--  <app-muscle-entity-form *ngIf="action === ActionType.create || action === ActionType.update"-->
  <!--                          [btnCloseRef]="btnClose"-->
  <!--                          [muscleInput]="progExercise"-->
  <!--                          [submitEvents]="submitEvents"-->
  <!--  />-->
  <app-my-prog-exercise-details-display *ngIf="action() === ActionType.read"
                                        [progExercise]="progExercise()"/>
  <!--  <app-muscle-delete-form *ngIf="action === ActionType.delete"-->
  <!--                          [btnCloseRef]="btnClose"-->
  <!--                          [muscle]="progExercise"-->
  <!--                          [submitEvents]="submitEvents"/>-->
</ng-template>
