.custom-select {
  position: relative;
  width: 100%;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.error {
  color: #ff1a2a;
  margin-top: 8px;
}
