<table class="table">
  <thead>
  <tr>
    <th class="col-auto" scope="col">Name</th>
    <th class="col-auto" scope="col">Present in role</th>
    <th class="col-1 text-center" scope="col">Details</th>
    <th class="col-1 text-center" scope="col">Modify</th>
    <th class="col-1 text-center" scope="col">Delete</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (privilege of privileges(); track privilege.id) {
      <tr>
        <td>{{ privilege.name }}</td>
        <td>
          <ul class="list-group list-group-flush">
            @for (role of privilege.roles; track role.id) {
              <li class="list-group-item d-flex justify-content-center text-center p-0"> {{ role.name }}</li>
            }
          </ul>
        </td>
        <td>
          <div class="col p-1 text-center">
            <app-modal-button
              (onCLickModalButton)="showPrivilegeDetails($event)"
              [modalId]="modalId()"
              [modalValue]="privilege"
              btnClass="btn-info"
            >
              <i class="fa-solid fa-eye"></i>
            </app-modal-button>
          </div>
        </td>
        <td>
          <div class="col p-1 text-center">
            <app-modal-button
              (onCLickModalButton)="modifyPrivilege($event)"
              [modalId]="modalId()"
              [modalValue]="privilege"
              btnClass="btn-warning"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </app-modal-button>
          </div>
        </td>
        <td>
          <div class="col p-1 text-center">
            <app-modal-button
              (onCLickModalButton)="delPrivilege($event)"
              [modalId]="modalId()"
              [modalValue]="privilege"
              btnClass="btn-danger"
            >
              <i class="fa-solid fa-trash"></i>
            </app-modal-button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
