<form *ngIf="userForm" [formGroup]="userForm" class="container-fluid">
  <div class="mb-3">
    <label class="form-label">New Email address</label>
    <input aria-describedby="emailHelp" class="form-control" formControlName="email" type="email">
    <app-input-control
      [formGroup]="userForm"
      [submitInvalid]="submitInvalidForm"
      formGroupFieldName="email"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Password :</label>
    <input class="form-control" formControlName="password" type="password">
    <app-input-control
      [formGroup]="userForm"
      [submitInvalid]="submitInvalidForm"
      errorMessage="Passwords write your password"
      formGroupFieldName="password"
    />
  </div>
</form>

