<app-modal-button (onCLickModalButton)="onClick()"
                  [modalId]="targetSetModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="targetSetModalTemplate"
           [modalId]="targetSetModalId()"
           [title]="targetSetModalTitle()"
>
</app-modal>
<ng-template #targetSetModalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-target-set-entity-form *ngIf="action() === ActionType.create ||
                                    action() === ActionType.update ||
                                    action() === ActionType.addEvolution"
                              [actionType]="action()"
                              [btnCloseRef]="btnClose"
                              [progExerciseInput]="progExercise()"
                              [submitEventActionType$]="submitEventActionType$"
                              [targetSetInput]="targetSet()"
  />
  <app-target-set-logs *ngIf="action() === ActionType.checkEvolution"
                       [modalId]="targetSetModalId()"
                       [progExercise]="progExercise()"
                       [targetSet]="targetSet()"/>
  <app-target-set-delete-form *ngIf="action() === ActionType.delete"
                              [btnCloseRef]="btnClose"
                              [progExercise]="progExercise()"
                              [submitEventActionType$]="submitEventActionType$"
                              [targetSet]="targetSet()"/>
</ng-template>
