<app-modal-button (onCLickModalButton)="onClick()"
                  [modalId]="targetSetModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="targetSetModalTemplate"
           [modalId]="targetSetModalId()"
           [title]="targetSetModalTitle()"
>
</app-modal>
<ng-template #targetSetModalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @switch (action()) {
    @case (ActionType.create || ActionType.update || ActionType.addEvolution) {
      <app-target-set-entity-form [actionType]="action()" [btnCloseRef]="btnClose" [progExercise]="progExercise()"
                                  [submitEventActionType$]="submitEventActionType$"
                                  [targetSet]="targetSet()"/>
    }
    @case (ActionType.checkEvolution) {
      <app-target-set-logs [modalId]="targetSetModalId()" [progExercise]="progExercise()" [targetSet]="targetSet()"/>
    }
    @case (ActionType.delete) {
      <app-target-set-delete-form [btnCloseRef]="btnClose" [progExercise]="progExercise()"
                                  [submitEventActionType$]="submitEventActionType$"
                                  [targetSet]="targetSet()"/>
    }
  }
</ng-template>
