<form class="container-fluid">
  <div class="mb-3">
    <label class="form-label">Name :</label>
    <input class="form-control" type="text">
  </div>

  <div class="mb-3">
    <label class="form-label">Description :</label>
    <textarea aria-label="textarea" class="form-control"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Function :</label>
    <textarea aria-label="textarea" class="form-control"></textarea>
  </div>
  <div class="mb-3">
    <app-multi-select/>
  </div>
</form>
