<form [formGroup]="exerciseTypeForm()" class="container-fluid">
  <div class="mb-3">
    <span class="form-label">Name :</span>
    <input class="form-control" formControlName="name" type="text">
    <app-input-control
      [formGroup]="exerciseTypeForm()"
      [submitInvalid]="submitInvalidForm()"
      formGroupFieldName="name"
      rules="min : 3 ; max : 50"
    />
  </div>

  <div class="mb-3">
    <span class="form-label">Goal :</span>
    <textarea aria-label="textarea" class="form-control" formControlName="goal"></textarea>
    <app-input-control
      [formGroup]="exerciseTypeForm()"
      [submitInvalid]="submitInvalidForm()"
      formGroupFieldName="goal"
      rules="min : 3 ; max : 2000"
    />
  </div>

  <div class="mb-3">
    <span class="form-label">ExerciseExercises :</span>
    <app-exercise-selector formControlName="exerciseIds"/>
    <app-input-control
      [formGroup]="exerciseTypeForm()"
      [submitInvalid]="submitInvalidForm()"
      errorMessage="Please select exercises whose category is this exerciseType"
      formGroupFieldName="exerciseIds"
      rules="min : 1"
    />
  </div>
</form>

