<div class="container-fluid">
  <div class="row">
    <div class="col">
      <span class="form-label fw-bold">Name :</span>
      <p>{{ progExercise()?.name }}</p>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <span class="fw-bold"> Trust Label : </span>
          {{ progExercise()?.trustLabel }}
        </div>
      </div>
      <div class="row">
        <div class="col pt-2">
          <span class="fw-bold"> Visibility : </span>
          {{ progExercise()?.visibility }}
        </div>
      </div>
      <div class="row">
        <div class="col pt-2">
          <span class="fw-bold"> Time : </span>
          {{ exerciseTime() }}
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <span class="fw-bold"> Exercise : </span>
        {{ progExercise()?.exercise?.name }}
      </div>
    </div>
    <div class="row pt-2">
      <div class="col">
        {{ progExercise()?.exercise?.description }}
      </div>
    </div>
  </div>
  <div class="mb-3">
    <span class="form-label fw-bold">Note :</span>
    <p>{{ progExercise()?.note }}</p>
  </div>
  <div class="mb-3">
    <span class="form-label fw-bold">Set(s) :</span>
    @if (displayedTargetSets().length === 0) {
      <p>No set(s) in this exercise for the moment</p>
    } @else {
      <ol class="list-group list-group-numbered">
        @for (targetSet of displayedTargetSets(); track targetSet.id) {
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <h5 class="fw-bold"> N° {{ " " + targetSet.index }} </h5>
              <div class="row">
                <div class="col-auto">
                  <p>
                    <span class="form-label fw-bold">Ex : </span>
                    {{ targetSetsInformation()[targetSet.id].setRep }}
                  </p>
                </div>
                <div class="col-auto">
                  <p>
                    <span class="form-label fw-bold">Weight : </span>
                    {{ targetSetsInformation()[targetSet.id].weight }}
                  </p>
                </div>
                <div class="col-auto">
                  <p>
                    <span class="form-label fw-bold">Effort Time :</span>
                    {{ targetSetsInformation()[targetSet.id].effortTime }}
                  </p>
                </div>
                <div class="col-auto">
                  <p>
                    <span class="form-label fw-bold">Rest Time :</span>
                    {{ targetSetsInformation()[targetSet.id].restTime }}
                  </p>
                </div>
                <div class="col-auto">
                  <p>
                    <span class="form-label fw-bold">Set(s) Time :</span>
                    {{ targetSetsInformation()[targetSet.id].setTime }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        }
      </ol>
    }
  </div>
</div>
