<div class="container">
  <app-loading [loading]="loading"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>My Programed Exercises </h2>
      </div>
      <div class="col-2">
        <app-my-prog-exercise-modal [action]="action"
                                    [modalTitle]="modalTitle"
                                    [muscleModalId]="progExerciseModalId"
                                    [progExercise]="progExercise"
        />
      </div>
    </div>
    <div class="row">
      <app-search-bar (onInput)="searchProgExercise($event)"/>
    </div>
    <div class="row p-2">
      <app-prog-exercise-card (actionProgExercises)="setProgExercise($event)"
                              *ngFor="let progExercise of displayedProgExercises"
                              [modalId]="progExerciseModalId"
                              [progExercise]="progExercise"
      />
    </div>
  </div>
</div>
