<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="muscleModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @switch (action()) {
    @case (ActionType.create || ActionType.update) {
      <app-muscle-entity-form [btnCloseRef]="btnClose" [muscle]="muscle()"
                              [submitEventActionType$]="submitEventActionType$"/>
    }
    @case (ActionType.delete) {
      <app-muscle-delete-form [btnCloseRef]="btnClose" [muscle]="muscle()"
                              [submitEventActionType$]="submitEventActionType$"/>
    }
  }
  />
</ng-template>
