<form [formGroup]="userForm()" class="d-flex flex-column">
  <div class="mb-3">
    <span class="form-label">Old Password :</span>
    <input class="form-control" formControlName="oldPassword" type="password">
    <app-input-control
      [formGroup]="userForm()"
      [submitInvalid]="submitInvalidForm()"
      errorMessage="Please write your old password"
      formGroupFieldName="oldPassword"
    />
  </div>
  <div class="mb-3">
    <span class="form-label">New Password :</span>
    <input class="form-control" formControlName="newPassword" type="password">
    <app-input-control
      [formGroup]="userForm()"
      [submitInvalid]="submitInvalidForm()"
      formGroupFieldName="newPassword"
      rules="min : 10 ; max : 50 ; at least must contain 1 or more lowercase, uppercase and numeric characters"
    />
  </div>
  <div class="mb-3">
    <span class="form-label">Confirm New Password :</span>
    <input class="form-control" formControlName="confirmPassword" type="password">
    <app-input-control
      [formGroup]="userForm()"
      [submitInvalid]="submitInvalidForm()"
      errorMessage="Passwords do not match"
      formGroupFieldName="confirmPassword"
    />
  </div>
</form>
