<form *ngIf="privilegeForm" [formGroup]="privilegeForm" class="container-fluid">
  <div class="mb-3">
    <label class="form-label">Name :</label>
    <input class="form-control" formControlName="name" type="text">
    <app-input-control
      [formGroup]="privilegeForm"
      [submitInvalid]="submitInvalidForm"
      formGroupFieldName="name"
      rules="min : 3; max : 50"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Privilege(s) :</label>
    <app-roles-selector [roleIds]='privilegeForm.controls["roleIds"].value'
                        formControlName="roleIds"/>
    <app-input-control
      [formGroup]="privilegeForm"
      [submitInvalid]="submitInvalidForm"
      errorMessage="Please select a role who must have this privilege"
      formGroupFieldName="roleIds"
      rules="min : 1"
    />
  </div>
</form>

