<app-modal [actionType]="action"
           [contentTemplate]="modalTemplate"
           [modalId]="muscleModalId"
           [title]="modalTitle"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEvents="submitEvents">
  <app-user-roles-form *ngIf="action === ActionType.create || action === ActionType.update"
                       [btnCloseRef]="btnClose"
                       [submitEvents]="submitEvents"
                       [userInput]="user"
  />
  <app-user-details-display *ngIf="action === ActionType.read"
                            [userInput]="user"/>
  <app-user-delete-form *ngIf="action === ActionType.delete"
                        [btnCloseRef]="btnClose"
                        [submitEvents]="submitEvents"
                        [user]="user"/>
</ng-template>
