@if (isAdmin()) {
  <form class="d-flex align-items-center">
    <div class="input-group mx-2 mb-2">
      <input type="file" class="form-control">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <!--    <input class="file-upload" onchange="console.log(event.target.files)" type="file">-->
    <!--    -->
    <!--    <button (click)="submit()" class="btn btn-outline-secondary mx-auto">-->
    <!--      <i class="fa-solid fa-check"></i>-->
    <!--    </button>-->
  </form>
}
