<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="userModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @if (action() === ActionType.create || action() === ActionType.update) {
    <app-user-roles-form [btnCloseRef]="btnClose"
                         [submitEvents]="submitEventActionType$"
                         [user]="user()"
    />
  }
  @if (action() === ActionType.read) {
    <app-user-details-display [user]="user()"/>
  }
  <!--  @if (action() === ActionType.delete) {-->
  <!--  <app-user-delete-form [btnCloseRef]="btnClose"-->
  <!--                        [submitEventActionType$]="submitEventActionType$"-->
  <!--                        [user]="user"-->
  <!--  />-->
  <!--  }-->
</ng-template>
