<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="userModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @if (this.action() == ActionType.create || this.action() == ActionType.update) {
    <app-user-roles-form [btnCloseRef]="btnClose"
                         [submitEvents]="submitEventActionType$"
                         [user]="user()"/>
  }
  @if (this.action() == ActionType.read) {
    <app-user-details-display [user]="user()"/>
  }
  <!--      @if (this.action() == action() === ActionType.delete) {-->
  <!--        <app-user-delete-form [btnCloseRef]="btnClose"-->
  <!--                              [submitEventActionType$]="submitEventActionType$"-->
  <!--                              [user]="user"-->
  <!--        />-->
  <!--        }-->
</ng-template>
