<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="userModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-user-roles-form *ngIf="action() === ActionType.create || action() === ActionType.update"
                       [btnCloseRef]="btnClose"
                       [submitEvents]="submitEventActionType$"
                       [user]="user()"
  />
  <app-user-details-display *ngIf="action() === ActionType.read"
                            [user]="user()"/>
  <!--  <app-user-delete-form [btnCloseRef]="btnClose"-->
  <!--                        [submitEventActionType$]="submitEventActionType$"-->
  <!--                        [user]="user"-->
  <!--  />-->
</ng-template>
