<app-modal-button (onCLickModalButton)="onClick()"
                  [modalId]="privilegeModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="privilegeModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @if (this.action() == ActionType.create || this.action() == ActionType.update) {
    <app-privilege-entity-form [btnCloseRef]="btnClose" [privilege]="privilege()"
                               [submitEventActionType$]="submitEventActionType$"/>
  }
  @if (this.action() == ActionType.read) {
    <app-privilege-details-display [privilege]="privilege()"/>
  }
  @if (this.action() == ActionType.delete) {
    <app-privilege-delete-forms [btnCloseRef]="btnClose" [privilege]="privilege()"
                                [submitEventActionType$]="submitEventActionType$"/>
  }
</ng-template>
