<app-modal-button (onCLickModalButton)="onClick()"
                  [modalId]="privilegeModalId()"
>
  Add new
  <i class="fa-regular fa-square-plus"></i>
</app-modal-button>
<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="privilegeModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-privilege-entity-form *ngIf="action() === ActionType.create || action() === ActionType.update"
                             [btnCloseRef]="btnClose"
                             [privilegeInput]="privilege()"
                             [submitEventActionType$]="submitEventActionType$"
  />
  <app-privilege-details-display *ngIf="action() === ActionType.read"
                                 [privilege]="privilege()"/>
  <app-privilege-delete-forms *ngIf="action() === ActionType.delete"
                              [btnCloseRef]="btnClose"
                              [privilege]="privilege()"
                              [submitEventActionType$]="submitEventActionType$"/>
</ng-template>
