<app-target-set-card (actionCollapseType)="setCollapseType($event)"
                     (actionPerformanceLogs)="setPerformanceLog($event)"
                     (actionTargetSets)="setTargetSet($event)"
                     [collapsePerformanceLogId]="targetSet.id + 'collapsePerformanceLog'"
                     [collapseTargetSetId]="targetSet.id + 'collapseTargetSet'"
                     [isLastTargetSet]="isLastTargetSet"
                     [performanceLogModalId]="performanceLogModalId"
                     [targetSetModalId]="targetSetModalId"
                     [targetSet]="targetSet"
/>
<app-collapse-block [collapseId]="targetSet.id + 'collapsePerformanceLog'" classArgs="pt-2">
  <app-performance-logs (actionPerformanceLog)="setPerformanceLog($event)"
                        [modalId]="performanceLogModalId"
                        [progExercise]="progExercise"
                        [targetSet]="targetSet"/>
</app-collapse-block>
<app-collapse-block [collapseId]="targetSet.id + 'collapseTargetSet'" classArgs="pt-2">
  <app-target-set-logs (actionTargetSets)="setTargetSet($event)"
                       [modalId]="targetSetModalId"
                       [progExercise]="progExercise"
                       [targetSet]="targetSet"/>
</app-collapse-block>
