<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="userModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  @if (action() === ActionType.update) {
    @switch (modification()) {
      @case (ModificationField.username) {
        <app-user-username-form [btnCloseRef]="btnClose"
                                [modification]="modification()"
                                [submitEventActionType$]="submitEventActionType$"
                                [userInput]="user()"/>
      }
      @case (ModificationField.email) {
        <app-user-email-form [btnCloseRef]="btnClose"
                             [modification]="modification()"
                             [submitEventActionType$]="submitEventActionType$"
                             [user]="user()"/>
      }
      @case (ModificationField.identity) {
        <app-user-name-form [btnCloseRef]="btnClose"
                            [modification]="modification()"
                            [submitEventActionType$]="submitEventActionType$"
                            [user]="user()"/>
      }
      @case (ModificationField.password) {
        <app-user-password-form [btnCloseRef]="btnClose"
                                [modification]="modification()"
                                [submitEventActionType$]="submitEventActionType$"
                                [user]="user()"/>
      }
    }
  }
  @if (action() === ActionType.delete) {
    <app-user-delete-form [btnCloseRef]="btnClose"
                          [submitEventActionType$]="submitEventActionType$"
                          [user]="user()"/>
  }
</ng-template>
