<app-modal [actionType]="action()"
           [contentTemplate]="modalTemplate"
           [modalId]="userModalId()"
           [title]="modalTitle()"
>
</app-modal>
<ng-template #modalTemplate let-btnClose="btnClose" let-submitEventActionType$="submitEventActionType$">
  <app-user-username-form *ngIf="action() === ActionType.update && modification() === ModificationField.username"
                          [btnCloseRef]="btnClose"
                          [modification]="modification()"
                          [submitEventActionType$]="submitEventActionType$"
                          [userInput]="user()"
  />
  <app-user-email-form *ngIf="action() === ActionType.update && modification() === ModificationField.email"
                       [btnCloseRef]="btnClose"
                       [modification]="modification()"
                       [submitEventActionType$]="submitEventActionType$"
                       [user]="user()"
  />
  <app-user-name-form *ngIf="action() === ActionType.update && modification() === ModificationField.name"
                      [btnCloseRef]="btnClose"
                      [modification]="modification()"
                      [submitEventActionType$]="submitEventActionType$"
                      [user]="user()"
  />
  <app-user-password-form *ngIf="action() === ActionType.update && modification() === ModificationField.password"
                          [btnCloseRef]="btnClose"
                          [modification]="modification()"
                          [submitEventActionType$]="submitEventActionType$"
                          [user]="user()"
  />
  <app-user-delete-form *ngIf="action() === ActionType.delete"
                        [btnCloseRef]="btnClose"
                        [submitEventActionType$]="submitEventActionType$"
                        [user]="user()"/>
</ng-template>
