<div class="card mt-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-auto">
        <h5 class="fw-bold"> {{ "Set N°" + targetSet.index }}</h5>
        <div class="row">
          <div class="col-auto d-flex align-items-center">
            <label class="fw-bold me-1"> Set : </label>
            {{ targetSet.setNumber }}
          </div>
          <div class="col-auto d-flex align-items-center">
            <label class="fw-bold me-1"> Reps : </label>
            {{ targetSet.repetitionNumber }}
          </div>
          <div class="col-auto d-flex align-items-center">
            <label class="fw-bold me-1"> Weight : </label>
            {{ targetSet.weight + " " + targetSet.weightUnit }}
          </div>
          <div class="col-auto">
            <app-target-set-state-form [targetSet]="targetSet"/>
          </div>
        </div>
        <div class="row text-center pt-2">
          <div class="col p-1">
            <app-modal-button
              (onCLickModalButton)="addNewPerformance($event)"
              [modalId]="modalId"
              [modalValue]="targetSet"
              btnClass="btn-secondary"
            >
              Add new performance
              <i class="fa-regular fa-square-plus"></i>
            </app-modal-button>
          </div>
          <div class="col p-1">
            <app-modal-button
              (onCLickModalButton)="checkTargetSetPerformance($event)"
              [modalId]="modalId"
              [modalValue]="targetSet"
              btnClass="btn-secondary"
            >
              Check performances
              <i class="fa-solid fa-chart-line"></i>
            </app-modal-button>
          </div>
        </div>
      </div>
      <div class="col align-content-center">
        <div class="row">
          <div class="col-auto mx-auto">
            <div class="col-auto p-2">
              <label class="fw-bold"> One Rep Time : </label>
              {{ targetSetRepetition }}
            </div>
            <div class="col-auto p-2">
              <label class="fw-bold"> Rest Time : </label>
              {{ targetSetRestTime }}
            </div>
            <div class="col-auto p-2">
              <label class="fw-bold"> Total Time : </label>
              {{ targetSetTime }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto align-content-center">
        <div class="row">
          <div class="col-auto align-content-center text-center">
            <div class="row p-1">
              <app-modal-button
                (onCLickModalButton)="adjustTargetSet($event)"
                [allWidth]="true"
                [modalId]="modalId"
                [modalValue]="targetSet"
                btnClass="btn-secondary"
              >
                Adjust objective
                <i class="fa-solid fa-sliders"></i>
              </app-modal-button>
            </div>
            <div class="row p-1">
              <app-collapse-button [collapseId]="collapseId"
                                   [value]="targetSet">
                Check objectives evolution
                <i class="fa-solid fa-chart-line"></i>
              </app-collapse-button>
            </div>
          </div>
          <div class="col text-center align-content-center">
            <div class="row p-1">
              <app-modal-button
                (onCLickModalButton)="modifyTargetSet($event)"
                [modalId]="modalId"
                [modalValue]="targetSet"
                btnClass="btn-secondary"
              >
                Modify
                <i class="fa-solid fa-pen-to-square"></i>
              </app-modal-button>
            </div>
            <div class="row p-1">
              <app-modal-button
                (onCLickModalButton)="delTargetSet($event)"
                [modalId]="modalId"
                [modalValue]="targetSet"
                btnClass="btn-danger"
              >
                Delete
                <i class="fa-solid fa-trash"></i>
              </app-modal-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
