<div class="card m-3 shadow">
  <div class="card-body">
    <h5 class="card-title m-0"> {{ "Step N°" + targetSet().index }}</h5>
    <div class="row align-items-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 align-items-center">
        <div class="row d-flex align-items-center">
          <div class="col d-flex justify-content-between text-nowrap">
            <span class="fw-bold me-1"> Set&#8239;:</span>
            {{ targetSet().setNumber }}
          </div>
          <div class="col d-flex justify-content-between text-nowrap">
            <span class="fw-bold me-1"> Reps&#8239;: </span>
            {{ targetSet().repetitionNumber }}
          </div>
          <div class="col d-flex justify-content-between text-nowrap">
            <span class="fw-bold me-1 now"> Weight&#8239;: </span>
            {{ targetSet().weight + " " + targetSet().weightUnit }}
          </div>
          <div class="col d-flex justify-content-between text-nowrap">
            <app-target-set-state-form [targetSet]="targetSet()"/>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col align-content-center">
            <div class="py-1">
              <app-modal-button
                (onCLickModalButton)="addNewPerformance($event)"
                [allWidth]="true"
                [modalId]="performanceLogModalId()"
                [modalValue]="targetSet()"
                [onOneLine]="true"
                btnClass="btn-secondary"
              >
                New performance
                <i class="fa-regular fa-square-plus"></i>
              </app-modal-button>
            </div>
          </div>
          <div class="col align-content-center">
            <div class="py-1">
              <app-modal-button
                (onCLickModalButton)="checkPerformance($event)"
                [allWidth]="true"
                [modalId]="performanceLogModalId()"
                [modalValue]="targetSet()"
                [onOneLine]="true"
                btnClass="btn-secondary"
              >
                Check performances
                <i class="fa-solid fa-chart-line"></i>
              </app-modal-button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-4 col-lg-2 align-content-center">
        <div class="d-flex justify-content-between">
          <div class="fw-bold me-1">One&#8239;Rep&#8239;:</div>
          {{ targetSetRepetition() }}
        </div>
        <div class="d-flex justify-content-between">
          <span class="fw-bold me-1">Rest&#8239;:</span>
          {{ targetSetRestTime() }}
        </div>
        <div class="d-flex justify-content-between">
          <span class="fw-bold me-1">Total&#8239;:</span>
          <app-tooltip [used]="isLastTargetSet()" tooltipText="last rest time is not included">
            {{ targetSetTime() }}
            <sup *ngIf="isLastTargetSet()" class="fw-bold">*</sup>
          </app-tooltip>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-4 align-content-center">
        <div class="row">
          <div class="col align-content-center">
            <div class="py-1">
              <app-modal-button
                (onCLickModalButton)="adjustTargetSet($event)"
                [allWidth]="true"
                [modalId]="targetSetModalId()"
                [modalValue]="targetSet()"
                [onOneLine]="true"
                btnClass="btn-secondary"
              >
                Adjust objective
                <i class="fa-solid fa-sliders"></i>
              </app-modal-button>
            </div>
            <div class="py-1">
              <app-modal-button
                (onCLickModalButton)="checkTargetSet($event)"
                [allWidth]="true"
                [modalId]="targetSetModalId()"
                [modalValue]="targetSet()"
                [onOneLine]="true"
                btnClass="btn-secondary"
              >
                Objectives evolution
                <i class="fa-solid fa-chart-line"></i>
              </app-modal-button>
            </div>
          </div>
          <div class="col align-content-center">
            <div class="py-1">
              <app-modal-button
                (onCLickModalButton)="modifyTargetSet($event)"
                [allWidth]="true"
                [modalId]="targetSetModalId()"
                [modalValue]="targetSet()"
                btnClass="btn-secondary"
              >
                Modify
                <i class="fa-solid fa-pen-to-square"></i>
              </app-modal-button>
            </div>
            <div class="py-1">
              <app-modal-button
                (onCLickModalButton)="delTargetSet($event)"
                [allWidth]="true"
                [modalId]="targetSetModalId()"
                [modalValue]="targetSet()"
                btnClass="btn-danger"
              >
                Delete
                <i class="fa-solid fa-trash"></i>
              </app-modal-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
