<div class="card mt-2 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-auto">
            <h5 class="fw-bold"> {{ "Set N°" + targetSet.index }}</h5>
            <div class="row px-1">
              <div class="col-auto">
                <label class="fw-bold"> Set : </label>
                {{ targetSet.setNumber }}
              </div>
              <div class="col-auto">
                <label class="fw-bold"> Reps : </label>
                {{ targetSet.repetitionNumber }}
              </div>
              <div class="col">
                <label class="fw-bold"> Weight : </label>
                {{ targetSet.weight + " " + targetSet.weightUnit }}
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <app-modal-button
                  (onCLickModalButton)="addNewPerformance($event)"
                  [modalId]="modalId"
                  [modalValue]="targetSet"
                  btnClass="btn-secondary"
                  class="pe-1"
                >
                  Add new performance
                  <i class="fa-regular fa-square-plus"></i>
                </app-modal-button>
                <app-modal-button
                  (onCLickModalButton)="checkTargetSetPerformance($event)"
                  [modalId]="modalId"
                  [modalValue]="targetSet"
                  btnClass="btn-secondary"
                  class="ps-1"
                >
                  Check performances
                  <i class="fa-solid fa-chart-line"></i>
                </app-modal-button>
              </div>
            </div>
          </div>
          <div class="col align-content-center">
            <div class="row">
              <div class="col-auto">
                <div class="row">
                  <label class="fw-bold"> One Rep Time : </label>
                </div>
                <div class="row pt-2">
                  <label class="fw-bold"> Rest Time : </label>
                </div>
                <div class="row pt-2">
                  <label class="fw-bold"> Total Time : </label>
                </div>
              </div>
              <div class="col-auto">
                <div class="row">
                  {{ targetSetRepetition }}
                </div>
                <div class="row pt-2">
                  {{ targetSetRestTime }}
                </div>
                <div class="row pt-2">
                  {{ targetSetTime }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto align-content-center">
        <div class="row">
          <app-modal-button
            (onCLickModalButton)="adjustTargetSet($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-secondary"
          >
            Adjust set's objective
            <i class="fa-solid fa-sliders"></i>
          </app-modal-button>
        </div>
        <div class="row pt-1">
          <app-modal-button
            (onCLickModalButton)="checkAllTargetSetUpdate($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-secondary"
          >
            Check set's objectives evolution
            <i class="fa-solid fa-chart-line"></i>
          </app-modal-button>
        </div>
      </div>
      <div class="col-auto align-content-center">
        <div class="row">
          <app-modal-button
            (onCLickModalButton)="modifyTargetSet($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-secondary"
          >
            Modify
            <i class="fa-solid fa-pen-to-square"></i>
          </app-modal-button>
        </div>
        <div class="row pt-1">
          <app-modal-button
            (onCLickModalButton)="delTargetSet($event)"
            [allWidth]="true"
            [modalId]="modalId"
            [modalValue]="targetSet"
            btnClass="btn-danger"
          >
            Delete
            <i class="fa-solid fa-trash"></i>
          </app-modal-button>
        </div>
      </div>
    </div>
  </div>
</div>
