<form *ngIf="targetSetForm" [formGroup]="targetSetForm" class="container-fluid">
  <div class="mb-3">
    <label class="form-label">Set index :</label>
    <input class="form-control" formControlName="index" type="text">
    <app-input-control
      [formGroup]="targetSetForm"
      [ifInvalid]="true"
      [submitInvalid]="submitInvalidForm"
      errorMessage="Please write the number corresponding to the index"
      formGroupFieldName="index"
      rules="only integer number ; min : 1; max : 50"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Number of set(s) :</label>
    <input class="form-control" formControlName="setNumber" type="text">
    <app-input-control
      [formGroup]="targetSetForm"
      [ifInvalid]="true"
      [submitInvalid]="submitInvalidForm"
      errorMessage="Please write the number of sets you wish to make"
      formGroupFieldName="setNumber"
      rules="only integer number ; min : 1 ; max : 1000"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Number of Repetition(s) :</label>
    <input class="form-control" formControlName="repetitionNumber" type="text">
    <app-input-control
      [formGroup]="targetSetForm"
      [submitInvalid]="submitInvalidForm"
      errorMessage="Please write the number of sets you wish to make"
      formGroupFieldName="repetitionNumber"
      rules="only integer number ; min : 1 ; max : 1000"
    />
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <label class="form-label">Weight :</label>
        <input class="form-control" formControlName="weight" type="text">
        <app-input-control
          [formGroup]="targetSetForm"
          [ifInvalid]="true"
          [submitInvalid]="submitInvalidForm"
          errorMessage="Please write the weight of sets you wish to use"
          formGroupFieldName="weight"
          rules="only number, two digits after the decimal point are accepted ; min : 0 ; max : 1000"
        />
      </div>
      <div class="col">
        <label class="form-label">Weight Unit:</label>
        <app-weight-select [weightUnit]='targetSetForm.controls["weightUnit"].value' formControlName="weightUnit"/>
        <app-input-control
          [formGroup]="targetSetForm"
          [ifInvalid]="true"
          [submitInvalid]="submitInvalidForm"
          errorMessage="Please write the weight of sets you wish to use"
          formGroupFieldName="weightUnit"
          rules="only number, two digits after the decimal point are accepted ; min : 0 ; max : 1000"
        />
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <div class="row">
          <label class="form-label">One Rep Time :</label>
          <app-duration-input [rootFormGroupInput]="targetSetForm" fieldName="physicalExertionUnitTime"/>
          <app-input-control
            [formGroup]="targetSetForm"
            [onlyValidMessage]="true"
            [submitInvalid]="submitInvalidForm"
            displayedFieldName="one rep time"
            formGroupFieldName="physicalExertionUnitTime"
          />
        </div>
      </div>
      <div class="col">
        <div class="row">
          <label class="form-label">Rest Time :</label>
          <app-duration-input [rootFormGroupInput]="targetSetForm" fieldName="restTime"/>
          <app-input-control
            [formGroup]="targetSetForm"
            [onlyValidMessage]="true"
            [submitInvalid]="submitInvalidForm"
            displayedFieldName="rest time"
            formGroupFieldName="restTime"
          />
        </div>
      </div>
    </div>
  </div>
</form>

