<div class="container">
  <app-loading [isLoading]="loading()"/>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2>Privileges saved in database</h2>
      </div>
      <div class="col-auto">
        <app-privilege-modal (actionPrivilege)="setPrivilege($event)"
                             [action]="action()"
                             [modalTitle]="modalTitle()"
                             [privilegeModalId]="privilegeModalId"
                             [privilege]="privilege()"
        />
      </div>
    </div>
    <app-privileges-array (actionPrivilege)="setPrivilege($event)"
                          [modalId]="privilegeModalId"
                          [privileges]="privileges"/>
  </div>
</div>
