<div class="container p-4">
  <div *ngIf="error">
    <p>Error : {{ error }}</p>
  </div>

  <div class="container-fluid">
    <table class="table caption-top align-middle">
      <caption>Liste de tout les exercices</caption>
      <thead>
      <tr>
        <th class="col-auto" scope="col">Name</th>
        <th class="col" scope="col">Goal</th>
        <th class="col" scope="col">Description</th>
        <th class="col-1 text-center" scope="col">Details</th>
        <th class="col-1 text-center" scope="col">Modify</th>
        <th class="col-1 text-center" scope="col">Delete</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let exercise of exercises">
        <td> {{ exercise.name }}</td>
        <td>{{ exercise.goal }}</td>
        <td>{{ exercise.description }}</td>
        <td>
          <div class="col p-1 text-center">
            <i class="fa-solid fa-eye fa-lg text-secondary"></i>
          </div>
        </td>
        <td>
          <div class="col p-1 text-center">
            <i class="fa-solid fa-pen-to-square fa-lg text-secondary"></i>
          </div>
        </td>
        <td>
          <div class="col p-1 text-center">
            <i class="fa-solid fa-trash fa-lg text-danger"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
