<div class="custom-select">
  <div (click)="onCLickSelect($event)" class="select-box form-control">
    <input class="tags_input" hidden name="tags" type="text"/>
    <app-multi-select-selected-options (onRemoveAllTag)="onCLickRemoveAllTag()"
                                       (onRemoveTag)="onCLickRemoveTag($event)"
                                       [displayedSelectedOptions]="displayedSelectedOptions()"
                                       [selectedOptions]="selectedOptions()"/>
  </div>
  @if (open()) {
    <app-multi-select-options [isLoading]="isLoading()"
                              [optionList]="optionList()"
                              [selectedOptions]="selectedOptions()"
                              [addDescriptionToOption]="addDescriptionToOption()"
                              (onClickOption)="onClickOption($event)"
                              (onClickAllOption)="onClickAllOption()"
    />
    <!--    <div class="options rounded">-->
      <!--      <app-loading [loading]="isLoading()"/>-->
      <!--      @if (!isLoading()) {-->
      <!--        <div class="option-search-tags input-group">-->
      <!--          <input [(ngModel)]="searchInput" class="search-tags form-control" type="text"/>-->
      <!--          <button (click)="onClickClear()" class="btn border" type="button">-->
      <!--            <i class="fa fa-close"></i>-->
      <!--          </button>-->
      <!--        </div>-->
      <!--        @if (optionResult()) {-->
      <!--          @if (searchInput() == "") {-->
      <!--            <div (click)="onClickAllOption()" [class.active]="optionList().length === selectedOptions().length"-->
      <!--                 class="option all-tags">-->
      <!--              Select All-->
      <!--            </div>-->
      <!--          }-->
      <!--          @for (option of displayedOptions(); track option.id) {-->
      <!--            <div (click)="onClickOption(option.id)" [class.active]="selectedOptions().includes(option.id)"-->
      <!--                 class="option"-->
      <!--            >-->
      <!--              <div class="text-truncate"> {{ option.title }}</div>-->
      <!--              @if (addDescriptionToOption()) {-->
      <!--                <div>{{ option.description }}</div>-->
      <!--              }-->
      <!--            </div>-->
      <!--          }-->
      <!--        } @else {-->
      <!--          <div class="no-result-message"> No result match</div>-->
      <!--        }-->
      <!--      }-->
      <!--    </div>-->
  }
  <span class="tag_error_msg error"></span>
</div>
