<div class="custom-select">
  <div (click)="onCLickSelect($event)" class="select-box form-control">
    <input class="tags_input" hidden name="tags" type="text"/>
    <app-multi-select-selected-options (onRemoveAllTag)="onCLickRemoveAllTag()"
                                       (onRemoveTag)="onCLickRemoveTag($event)"
                                       [displayedSelectedOptions]="displayedSelectedOptions()"
                                       [selectedOptions]="selectedOptions()"/>
  </div>
  @if (open()) {
    <app-multi-select-options [isLoading]="isLoading()"
                              [optionList]="optionList()"
                              [selectedOptions]="selectedOptions()"
                              [addDescriptionToOption]="addDescriptionToOption()"
                              (onClickOption)="onClickOption($event)"
                              (onClickAllOption)="onClickAllOption()"
    />
  }
  <span class="tag_error_msg error"></span>
</div>
