.custom-select {
  position: relative;
  width: 100%;
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.options {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option-search-tags {
  background-color: #ffffff;
  padding: 10px;
}

.option {
  padding: 12px;
  cursor: pointer;
}

.option.active {
  color: #000;
  background-color: #f2f2f2;
  border-bottom: 1px solid #eaeaea;
}

.option:hover {
  background-color: #eaeaea;
}

.no-result-message {
  padding: 0 0 12px 12px;
}

.error {
  color: #ff1a2a;
  margin-top: 8px;
}
