<div class="custom-select">
  <div #selectBox
       (click)="onCLickSelect($event)"
       class="select-box form-control"
  >
    <input class="tags_input" hidden name="tags" type="text"
    />
    <app-multi-select-selected-options (onRemoveTag)="onCLickRemoveTag($event)"
                                       [displayedSelectedOptions]="displayedSelectedOptions"
                                       [selectedOptions]="selectedOptions"
    />
  </div>
  <div class="options rounded">
    <app-loading [loading]="isLoading"/>
    <div *ngIf="!isLoading">
      <div class="option-search-tags input-group">
        <input
          #searchInput
          (input)="onInputSearch()"
          class="search-tags form-control "
          placeholder="Search tags..."
          type="text"
        />
        <button (click)="onClickClear()" class="btn border" type="button">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div #allTagsOption
           #option
           (click)="onClickOption($event)"
           class="option all-tags"
           data-value="All"
      >
        Select All
      </div>
      <div #option
           (click)="onClickOption($event)"
           *ngFor="let option of optionList"
           [attr.data-value]="option.id"
           class="option"
      >
        <div class="text-truncate"> {{ option.title }} {{ addDescriptionToOption ? ":" : "" }}</div>
        <div *ngIf="addDescriptionToOption"> {{ option.description }}</div>
      </div>
      <div #noResultMessage class="no-result-message" style="display: none">
        No result match
      </div>
    </div>
  </div>
  <span class="tag_error_msg error"></span>
</div>
