<div class="card mb-3 shadow-sm my-1 muscle-card">
  <div class="row g-0 flex-column flex-md-row">
    <div class="col-md col p-3 d-flex flex-column justify-content-between">
      <h5 class="card-title mb-2">{{ muscle().name }}</h5>
      <div class="multi-line-truncate mb-2">
        <p class="card-text"> {{ muscle().description }} </p>
      </div>
      <div class="row justify-content-center">
        <a class="mt-auto btn btn-outline-dark btn-sm w-50" routerLink="../muscle-details/{{muscle().id}}">
          En savoir plus
        </a>
      </div>
    </div>
    <div class="col-md-auto col">
      @let alt = `${muscle().latinName.split(' ').join('-')}`;
      @if (imageUrl !== '') {
        <img [alt]="alt" [ngSrc]="imageUrl" class="rounded mx-auto d-block" height="150" width="150">
      }
    </div>
  </div>
</div>

