<div class="small-middle-container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button [attr.data-bs-target]="'#' + targetSetUsedId" aria-selected="true"
              class="nav-link link-secondary active"
              data-bs-toggle="tab" id="home-tab"
              type="button"
      >
        Currently used
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button [attr.data-bs-target]="'#' + targetSetUnusedId" aria-selected="false"
              class="nav-link link-secondary"
              data-bs-toggle="tab"
              type="button"
      >
        Unused
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button [attr.data-bs-target]="'#' + targetSetHiddenId" aria-selected="false"
              class="nav-link link-secondary"
              data-bs-toggle="tab"
              type="button"
      >
        Hidden
      </button>
    </li>
  </ul>
  <div class="border-right-0 tab-content rounded-bottom ">
    <div [id]="targetSetUsedId" class="tab-pane fade show active">
      <p *ngIf=" progExerciseTargetSets.targetSetUsed.length === 0 ">No target set used</p>
      <div *ngFor="let targetSet of progExerciseTargetSets.targetSetUsed">
        <app-target-set-card (actionProgExercises)="setTargetSet($event)"
                             [collapseId]="targetSet.id + 'collapse'"
                             [isLastTargetSet]="isLastTargetSetUsed[targetSet.id]"
                             [modalId]="targetSetModalId"
                             [targetSet]="targetSet"
        />
        <div [id]="targetSet.id + 'collapse'" class="collapse pt-2">
          <div class="card card-body">
            <app-target-set-logs (actionProgExercises)="setTargetSet($event)"
                                 [modalId]="targetSetModalId"
                                 [progExerciseInput]="progExercise"
                                 [targetSetInput]="targetSet"/>
          </div>
        </div>
      </div>
    </div>
    <div [id]="targetSetUnusedId" class="tab-pane fade">
      <p *ngIf=" progExerciseTargetSets.targetSetUnused.length === 0 ">No set are unused</p>
      <div *ngFor="let targetSet of progExerciseTargetSets.targetSetUnused">
        <app-target-set-card (actionProgExercises)="setTargetSet($event)"
                             [collapseId]="targetSet.id + 'collapse'"
                             [isLastTargetSet]="isLastTargetSetUsed[targetSet.id]"
                             [modalId]="targetSetModalId"
                             [targetSet]="targetSet"
        />
        <div [id]="targetSet.id + 'collapse'" class="collapse pt-2">
          <div class="card card-body">
            <app-target-set-logs (actionProgExercises)="setTargetSet($event)"
                                 [modalId]="targetSetModalId"
                                 [progExerciseInput]="progExercise"
                                 [targetSetInput]="targetSet"/>
          </div>
        </div>
      </div>
    </div>
    <div [id]="targetSetHiddenId" class="tab-pane fade">
      <p *ngIf=" progExerciseTargetSets.targetSetHidden.length === 0 ">No set are hidden</p>
      <div *ngFor="let targetSet of progExerciseTargetSets.targetSetHidden">
        <app-target-set-card (actionProgExercises)="setTargetSet($event)"
                             [collapseId]="targetSet.id + 'collapse'"
                             [isLastTargetSet]="isLastTargetSetUsed[targetSet.id]"
                             [modalId]="targetSetModalId"
                             [targetSet]="targetSet"
        />
        <div [id]="targetSet.id + 'collapse'" class="collapse pt-2">
          <div class="card card-body">
            <app-target-set-logs (actionProgExercises)="setTargetSet($event)"
                                 [modalId]="targetSetModalId"
                                 [progExerciseInput]="progExercise"
                                 [targetSetInput]="targetSet"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
