<div [id]="accordionParentIdDate()" class="accordion p-2">
  @for (perfLogsOfDate of performanceLogsSortByDate(); track perfLogsOfDate; let i = $index) {
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button [attr.data-bs-target]='"#" + accordionParentIdDate() + perfLogsOfDate.key'
                [class]='"accordion-button fw-bold " + ifNotFirstCollapse(i)'
                data-bs-toggle="collapse"
                type="button"
        >
          {{ perfLogsOfDate.key | date: 'dd/MM/yyyy' }}
        </button>
      </h2>
      <div [attr.data-bs-parent]='accordionParentIdDate()'
           [class]='"accordion-collapse collapse " + ifFirstShow(i)'
           [id]="accordionParentIdDate() + perfLogsOfDate.key"
      >
        <div class="accordion-body p-0 overflow-auto" style="max-height: calc(100vh - 70vh)">
          @for (perfLog of perfLogsOfDate.value; track perfLog.id) {
            <app-performance-logs-card (actionPerformanceLog)="setPerformanceLog($event)" [activeButton]="true"
                                       [collapseBlockComponent]="collapseBlock()" [formCollapseId]="formCollapseId()"
                                       [performanceLog]="perfLog"/>
          }
        </div>
      </div>
    </div>
  }
</div>


