<div [id]="accordionParentIdDate" class="accordion p-2">
  <div *ngFor="let perfLogsOfDate of performanceLogsSortByDate, index as i" class="accordion-item">
    <h2 class="accordion-header">
      <button [attr.data-bs-target]='"#" + accordionParentIdDate + perfLogsOfDate.key'
              [class]='"accordion-button fw-bold " + ifNotFirstCollapse(i)'
              data-bs-toggle="collapse"
              type="button"
      >
        {{ perfLogsOfDate.key | date: 'dd/MM/yyyy' }}
      </button>
    </h2>
    <div [attr.data-bs-parent]='accordionParentIdDate'
         [class]='"accordion-collapse collapse " + ifFirstShow(i)'
         [id]="accordionParentIdDate + perfLogsOfDate.key"
    >
      <div class="accordion-body p-0 overflow-auto" style="height: calc(100vh - 70vh)">
        <app-performance-logs-card (actionPerformanceLog)="setPerformanceLog($event)"
                                   *ngFor="let perfLog of perfLogsOfDate.value"
                                   [activeButton]="true"
                                   [centerContent]="true"
                                   [collapseBlockComponent]="collapseBlock"
                                   [formCollapseId]="formCollapseId"
                                   [performanceLog]="perfLog"/>
      </div>
    </div>
  </div>
</div>


